body{
    background-color: #2F3437;
}
h1{
    color: white;
    font-family: 'Inconsolata', monospace;
}
.caption{
    font-size: 20;
    color: #E5E5E5;
}
#language{
    border: 1px;
    color: white;
    background-color: #9E2222;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 32;
    padding-left: 5px;
    padding-right: 5px;
}
#notes-header{
   text-align: center;
}